{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}
<div class="product span3 {% if template == 'collection' %}adaptive-grid{% endif %}">
  
  {% include 'saw_compute_discount' with product %}

  
  {% if product.price_min < product.compare_at_price_min %}
    {% if settings.show_sale_circle %}
    <span class="circle sale">Sale</span>
    {% endif %}
  {% endif %}
  
  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  
  <div class="details">
    <a href="{{ url }}" class="clearfix">
      <h4 class="title">{{ product.title }}</h4>
      {% if settings.product_vendor %}
      <span class="vendor">{{ product.vendor }}</span>
      {% endif %}
      
      <span class="price2">
        
  {% if saw_discount == 1 %}
          <!-- original prices here -->
        
      {% if product.available %}
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
        {% endif %}
        {% if product.price_varies %}
        <small><em>from</em></small>
        {% endif %}
        {{ product.price | money }}
      {% else %}
        {{ product.price | money }} Sold Out
      {% endif %}
  {% else %}
        
      {% if product.available %}
          <del>{{ saw_product_compare_at_price | money }}</del>
        {% if product.price_varies %}
        <small><em>from</em></small>
        {% endif %}
        {{ saw_product_price | money }}
      {% else %}
        {{ saw_product_price | money }} Sold Out
      {% endif %}
  {% endif %}
        
        
      </span>
      
    </a>
  </div>
  
</div>

{% unless template contains 'collection' %}
{% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}
{% endunless %}