<div id="product" class="{{ product.handle }}" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />

  <div class="row clearfix">

    <!-- Begin breadcrumb -->
    <div class="span12">
      <div class="breadcrumb clearfix">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a></span>
        <span class="arrow-space">&#62;</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          {% if collection %}
            <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url">
              <span itemprop="title">{{ collection.title }}</span>
            </a>
          {% else %}
            <a href="/collections/all" title="All Products" itemprop="url">
              <span itemprop="title">Products</span>
            </a>
          {% endif %}
        </span>
        <span class="arrow-space">&#62;</span>
        <strong>{{ product.title }}</strong>
      </div>
    </div>
    <!-- End breadcrumb -->

    <div>
      <img src="{{ 'banner.jpg' | asset_url }}" alt="" />
    </div>
    <!-- Begin product photos -->
    <div class="{% if product.images.size == 1 or settings.thumbnails_position == 'below' %}span6{% else %}span5{% endif %}">

      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
      <!-- Begin featured image -->
      <div class="image featured">
        {% if settings.enable_product_image_zoom %}
        <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        {% else %}
        <a href="{{ featured_image | img_url: 'master' }}" class="fancy" id="placeholder">
          <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
        </a>
        {% endif %}
      </div>




      <!-- End product image -->

      {% if product.images.size > 1 and settings.thumbnails_position == 'below' %}
      <!-- Begin thumbnails -->
      <div class="thumbs clearfix" style="margin-left:-15px;">
        {% for image in product.images %}
        <div class="image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
          <a href="{{ image | img_url: '1024x1024' }}">
            <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endfor %}
      </div>
      <!-- End thumbnails -->
      <style>
      .thumbs .image { margin: 15px 0 }
      .thumbs .image { padding: 0 15px }
      .thumbs .last-in-row { padding-right: 0 }
      </style>
      {% endif %}

    </div>
    <!-- End product photos -->

    {% if product.images.size > 1 and settings.thumbnails_position == 'right' %}
    <!-- Begin thumbnails -->
    <div class="span1">
      <div class="thumbs clearfix">
        {% for image in product.images %}
        <div class="image">
          <a href="{{ image | product_img_url: '1024x1024' }}">
            <img src="{{ image | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- End thumbnails -->
    {% endif %}


    <!-- Begin description -->
    <div class="span6">

      <h1 class="title" itemprop="name">{{ product.title }}</h1>

      <div class="purchase" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}

        {% comment %} If customer if statement goes here {% endcomment %}

        {% include 'saw_compute_discount' with product %}

        {% assign variant = product.selected_or_first_available_variant %}
        {% comment %}<h2 class="price" id="price-preview">{% endcomment %}
          <h2 class="price">

  {% if saw_discount == 1 %}
          <!-- original prices here -->

            <span itemprop="price">{{ variant.price | money }}</span>
            {% if variant.price < variant.compare_at_price %}{% endif %}
  {% else %}

            <span itemprop="price">{{ saw_product_price | money }}</span>

  {% endif %}
        </h2>
        {% comment %} put end if here for if customer {% endcomment %}
      </div>

      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}

      <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">

        <!-- Begin product options -->
        <div class="product-options">

          <div class="select clearfix"{% if hide_default_title %} style="display:none"{% endif %}>
            <select id="product-select" name="id" style="display:none">
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>

          {% if customer %}
          {% if settings.display_quantity_dropdown and product.available %}
          <div class="selector-wrapper">
            <label>Quantity</label>
            <input id="quantity" type="number" name="quantity" value="1"  min="1" class="tc item-quantity" />
          </div>
          {% endif %}


          <div class="purchase-section{% if product.variants.size > 1 %} multiple{% endif %}">
            <div class="purchase">
              <input type="submit" id="add-to-cart" class="btn" name="add" value="Add to cart" />
            </div>
          </div>
          {% endif %}

        </div>
        <!-- End product options -->

      </form>

      <div class="description">
        {{ product.description }}
      </div>

      <!-- {%  if settings.show_social %}  -->
      <!-- Begin social buttons -->
      <!-- <div class="social">  -->
        <!-- {%  include 'like' %}  -->
      <!-- </div>  -->
      <!-- End social buttons -->
      <!-- {%  endif %}  -->

    </div>
    <!-- End description -->

  </div>

  <!-- Begin related product -->
<!--   {% if settings.show_related_products %}
    {% include 'related-products' %}
  {% endif %} -->

</div>

{% comment %}
Place this in your product.liquid template, either at the top or bottom.
{% endcomment %}
{% if product.variants.size > 1 %}
<script>
(function($) {
  var variantImages = {},
    thumbnails,
    variant,
    variantImage,
      variantTitle,
    optionValue;


	{% comment %}
	This controls clicking on the image
	{% endcomment %}
    {% for variant in product.variants %}
       variant = {{ variant | json }};

       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImages[variantImage] = variantImages[variantImage] || {};
         {% for option in product.options %}
           {% assign option_value = variant.options[forloop.index0] %}
           {% assign option_key = 'option-' | append: forloop.index0 %}
           if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
             variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};

           }
           else {
             var oldValue = variantImages[variantImage][{{ option_key | json }}];
             if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
               variantImages[variantImage][{{ option_key | json }}] = null;
             }
           }
         {% endfor %}
       }
    {% endfor %}


	{% comment %}
	This controls changing the select box
	{% endcomment %}
    $(window).load(function() {
      thumbnails = $('img[src*="/products/"]').not(':first');
      if (thumbnails.size()) {
        thumbnails.bind('click', function() {
          var image = $(this).attr('src').split('?')[0].replace(/(_thumb|_small|_compact|_medium|_large|_grande)/,'');
          if (typeof variantImages[image] !== 'undefined') {
            {% for option in product.options %}
            optionValue = variantImages[image]['option-{{ forloop.index0 }}'];
            if (optionValue !== null && $('.single-option-selector:eq({{ forloop.index0 }}) option').filter(function() { return $(this).html() === optionValue }).length) {
              $('.single-option-selector:eq({{ forloop.index0 }})').val(optionValue).trigger('change');
            }
            {% endfor %}
          }
        });
      }
    });
})(jQuery);
</script>
{% endif %}
